* {
  font-family: "Montserrat", sans-serif; }

body {
  background: none; }

.width100 {
  width: 100%; }

.wrapper {
  display: flex;
  align-items: stretch; }
  .wrapper #sidebar {
    min-width: 230px;
    max-width: 230px;
    min-height: 100vh;
    transition: all 0.3s;
    color: #eff1ed;
    background: #71796a; }
    .wrapper #sidebar .sidebar-header {
      padding: 8px;
      position: relative;
      background: #353832;
      color: #eff1ed;
      height: 60px; }
      .wrapper #sidebar .sidebar-header .sidebarHeaderTitle {
        font-size: 18px;
        padding: 10px 10px 10px 7px; }
      .wrapper #sidebar .sidebar-header .btn {
        color: #eff1ed;
        outline: none;
        box-shadow: none;
        width: 40px;
        height: 35px;
        margin-top: 6px;
        padding-top: 6px; }
        .wrapper #sidebar .sidebar-header .btn:hover {
          transition: .3s;
          background: #eff1ed;
          color: #0C0C0B; }
    .wrapper #sidebar .components #sidebar-title {
      font-size: 12px;
      display: block;
      padding: 20px 0px 0px 18px;
      color: #282b26;
      margin: 0; }
    .wrapper #sidebar .components .sidebarItems {
      position: relative;
      padding: 7px 0px 5px 18px;
      width: 100%;
      cursor: pointer; }
      .wrapper #sidebar .components .sidebarItems .submenuList {
        margin-top: 10px;
        background: #595f54;
        margin-left: -18px; }
        .wrapper #sidebar .components .sidebarItems .submenuList .firstSubmenuItem {
          height: 44px !important;
          padding-top: 10px !important; }
        .wrapper #sidebar .components .sidebarItems .submenuList .submenuItems {
          height: 41px;
          width: 100%;
          padding: 6px 0 0 28px;
          border-left: 3px solid #595f54; }
          .wrapper #sidebar .components .sidebarItems .submenuList .submenuItems:hover {
            border-left: 3px solid #0C0C0B; }
            .wrapper #sidebar .components .sidebarItems .submenuList .submenuItems:hover a {
              color: #fff; }
            .wrapper #sidebar .components .sidebarItems .submenuList .submenuItems:hover .submenuItemsIcons {
              color: #fff; }
          .wrapper #sidebar .components .sidebarItems .submenuList .submenuItems a {
            color: #d1d1d1; }
          .wrapper #sidebar .components .sidebarItems .submenuList .submenuItems .submenuArrow {
            margin-top: 7px;
            margin-right: 14px;
            font-size: 13px; }
          .wrapper #sidebar .components .sidebarItems .submenuList .submenuItems .submenuItemsIcons {
            font-size: 11px;
            width: 12px;
            margin-right: 10px;
            color: #d1d1d1; }
          .wrapper #sidebar .components .sidebarItems .submenuList .submenuItems .submenuBadge {
            background: #282b26;
            color: #eff1ed;
            padding: 4px;
            margin-top: 4px;
            font-size: 9px;
            margin-right: 15px; }
      .wrapper #sidebar .components .sidebarItems a {
        font-size: 13px;
        width: 100%;
        color: #eff1ed; }
        .wrapper #sidebar .components .sidebarItems a .sidebarIcons {
          font-size: 14px;
          width: 18px; }
        .wrapper #sidebar .components .sidebarItems a .sidebarHomeIcon {
          color: #4e93ec; }
        .wrapper #sidebar .components .sidebarItems a .sidebarArrow {
          margin-top: 7px;
          margin-right: 14px; }
        .wrapper #sidebar .components .sidebarItems a .sidebarBadge {
          background: #282b26;
          color: #eff1ed;
          padding: 5px;
          margin-top: 3px;
          margin-right: 13px; }
        .wrapper #sidebar .components .sidebarItems a .blueCircleIcon {
          color: #4a89dc; }
        .wrapper #sidebar .components .sidebarItems a .lightBlueCircleIcon {
          color: #3bafda; }
        .wrapper #sidebar .components .sidebarItems a .redCircleIcon {
          color: #e9573f; }
        .wrapper #sidebar .components .sidebarItems a .yellowCircleIcon {
          color: #f6bb41; }
        .wrapper #sidebar .components .sidebarItems a .sidebarMenuItems {
          padding-left: 8px; }
        .wrapper #sidebar .components .sidebarItems a .userStatsIcons {
          font-size: 12px;
          width: 12px;
          height: 12px; }
        .wrapper #sidebar .components .sidebarItems a .sidebarUserStatsText {
          font-size: 11px; }
        .wrapper #sidebar .components .sidebarItems a .sidebarUserStats {
          margin-top: 5px;
          margin-right: 20px;
          font-size: 11px; }
        .wrapper #sidebar .components .sidebarItems a .progressBarDiv {
          margin-right: 20px;
          margin-top: 5px; }
        .wrapper #sidebar .components .sidebarItems a:hover {
          text-decoration: none; }
      .wrapper #sidebar .components .sidebarItems a[data-toggle="collapse"] {
        position: relative; }
      .wrapper #sidebar .components .sidebarItems .dropdown-toggle {
        position: relative; }
  .wrapper #content {
    width: 100%; }
    .wrapper #content .subNavbar {
      background: #222420;
      min-height: 60px; }
      .wrapper #content .subNavbar .uprightMenu {
        display: inline-block;
        margin: auto;
        cursor: pointer; }
        .wrapper #content .subNavbar .uprightMenu:active .uprightMenuList {
          background: #3a3939; }
        .wrapper #content .subNavbar .uprightMenu:focus-within .uprightMenuList {
          background: #3a3939; }
        .wrapper #content .subNavbar .uprightMenu .uprightMenuList {
          color: white;
          margin: auto;
          display: inline-block;
          padding: 14px 10px 14px 9px;
          margin-right: 15px; }
          .wrapper #content .subNavbar .uprightMenu .uprightMenuList:hover {
            background: #3a3939; }
          .wrapper #content .subNavbar .uprightMenu .uprightMenuList .profileMenuButton {
            outline: none;
            background: none;
            border: none;
            margin: 0;
            cursor: pointer;
            color: #eff1ed;
            font-size: 14px; }
            .wrapper #content .subNavbar .uprightMenu .uprightMenuList .profileMenuButton .profilePic {
              margin-right: 15px; }
            .wrapper #content .subNavbar .uprightMenu .uprightMenuList .profileMenuButton .usernameArrow {
              font-size: 12px; }
    .wrapper #content .socialWrapper {
      width: 100%;
      margin: 20px 0 20px 0;
      padding: 0 10px 0 10px; }
      .wrapper #content .socialWrapper .social-boxWrapper {
        padding: 5px; }
        .wrapper #content .socialWrapper .social-boxWrapper .social-box {
          height: 75px;
          width: 100%;
          border-radius: 1%; }
        .wrapper #content .socialWrapper .social-boxWrapper .purple {
          background-color: #caa9f9;
          overflow: hidden; }
          .wrapper #content .socialWrapper .social-boxWrapper .purple i {
            font-size: 95px;
            padding: 10px 3px 0 0;
            color: #f3ebff; }
          .wrapper #content .socialWrapper .social-boxWrapper .purple .cmnts {
            font-weight: bold;
            color: #f3ebff;
            margin: 0;
            padding: 0 0 0 20px;
            font-size: 12px; }
          .wrapper #content .socialWrapper .social-boxWrapper .purple .commentsNb {
            color: #ffffff;
            margin: 0;
            padding: 20px 0 3px 20px; }
        .wrapper #content .socialWrapper .social-boxWrapper .blue {
          background-color: #68cffc;
          overflow: hidden; }
          .wrapper #content .socialWrapper .social-boxWrapper .blue i {
            font-size: 95px;
            padding: 5px 3px 0 0;
            color: #cdeffd; }
          .wrapper #content .socialWrapper .social-boxWrapper .blue .tweets {
            font-weight: bold;
            color: #cdeffd;
            margin: 0;
            padding: 0 0 0 20px;
            font-size: 12px; }
          .wrapper #content .socialWrapper .social-boxWrapper .blue .tweetsNb {
            color: #eefaff;
            margin: 0;
            padding: 20px 0 3px 20px; }
        .wrapper #content .socialWrapper .social-boxWrapper .red {
          background-color: #fc775f;
          overflow: hidden; }
          .wrapper #content .socialWrapper .social-boxWrapper .red i {
            font-size: 105px;
            padding: 5px 0 0 0;
            color: #ffcdc4; }
          .wrapper #content .socialWrapper .social-boxWrapper .red .peaks {
            font-weight: bold;
            color: #ffcdc4;
            margin: 0;
            padding: 0 0 0 20px;
            font-size: 12px; }
          .wrapper #content .socialWrapper .social-boxWrapper .red .peaksNb {
            color: #ffece9;
            margin: 0;
            padding: 20px 0 3px 20px; }
        .wrapper #content .socialWrapper .social-boxWrapper .yellow {
          background-color: #ffdc6b;
          overflow: hidden; }
          .wrapper #content .socialWrapper .social-boxWrapper .yellow i {
            font-size: 105px;
            padding: 5px 0 0 0;
            color: #fff7df; }
          .wrapper #content .socialWrapper .social-boxWrapper .yellow .emails {
            font-weight: bold;
            color: #fff7df;
            margin: 0;
            padding: 0 0 0 20px;
            font-size: 12px; }
          .wrapper #content .socialWrapper .social-boxWrapper .yellow .emailsNb {
            color: #fffefb;
            margin: 0;
            padding: 20px 0 3px 20px; }

.dataPanelWrapper {
  width: 100%;
  height: auto;
  border: 1px solid #e5e5e5;
  background: #f8faf5; }
  .dataPanelWrapper .dataHeader {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
    background-color: #0C0C0B; }
    .dataPanelWrapper .dataHeader .headerTitle {
      font-weight: bold;
      font-size: 12px;
      margin: 0;
      color: #a7a7a7; }
  .dataPanelWrapper .dataBox {
    width: 100%;
    height: 300px;
    padding: 10px 0;
    border-right: 1px solid #e5e5e5; }
  .dataPanelWrapper .chartBox {
    font-size: 12px;
    color: #707070;
    margin: 0;
    font-weight: bold; }
    .dataPanelWrapper .chartBox .visitorsHeader {
      padding: 0 0 0 15px; }
    .dataPanelWrapper .chartBox .short {
      width: 95%; }
  .dataPanelWrapper .referralsBox {
    font-size: 12px;
    color: #707070;
    margin: 0;
    font-weight: bold; }
    .dataPanelWrapper .referralsBox .referrals {
      color: #a7a7a7;
      padding-left: 20px; }
      .dataPanelWrapper .referralsBox .referrals .dataValues {
        padding: 0 15px 0 0;
        color: #707070; }
    .dataPanelWrapper .referralsBox .searchTeams {
      color: #a7a7a7;
      padding-left: 20px; }
      .dataPanelWrapper .referralsBox .searchTeams .dataValues {
        padding: 0 15px 0 0;
        color: #707070; }
    .dataPanelWrapper .referralsBox hr {
      margin: 8px 0 8px 0; }
  .dataPanelWrapper .trafficBox {
    font-size: 12px;
    color: #707070;
    margin: 0;
    font-weight: bold; }
    .dataPanelWrapper .trafficBox .trafficList {
      list-style: none;
      padding: 0; }
      .dataPanelWrapper .trafficBox .trafficList .dataValues {
        padding: 0 15px 0 0;
        color: #707070; }
    .dataPanelWrapper .trafficBox hr {
      margin: 12px 0 12px 0; }
  .dataPanelWrapper .noBorder {
    border-right: 0; }

.profileMenuDiv {
  width: 250px;
  position: absolute;
  right: 15px;
  top: 68px;
  z-index: 999;
  background: #fff;
  border-top: 3px solid #a7a7a7;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.288); }
  .profileMenuDiv:before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: #a7a7a7;
    position: absolute;
    right: 10px;
    top: -5px;
    z-index: -9999;
    transform: rotate(45deg); }
  .profileMenuDiv .profileMenuList {
    border: 1px solid #d1d1d1;
    display: block; }
    .profileMenuDiv .profileMenuList:focus-within {
      background-color: #eff1ed; }
    .profileMenuDiv .profileMenuList a {
      display: block; }
    .profileMenuDiv .profileMenuList li:hover:after {
      width: 0; }
    .profileMenuDiv .profileMenuList .liWrapper:focus .profileMenuItems {
      background-color: #eff1ed; }
    .profileMenuDiv .profileMenuList .liWrapper .profileMenuItems {
      border-bottom: 1px solid #d1d1d1;
      padding: 12px;
      font-size: 12px;
      color: #707070;
      background: #fff;
      width: 100%; }
      .profileMenuDiv .profileMenuList .liWrapper .profileMenuItems:hover {
        background-color: #eff1ed; }
    .profileMenuDiv .profileMenuList .profileMenuItemsLogout {
      padding: 10px;
      width: 100%;
      text-align: center;
      font-size: 12px;
      color: #707070;
      background-color: #f8faf5; }
      .profileMenuDiv .profileMenuList .profileMenuItemsLogout:hover {
        background-color: #F5F7DC;
        transition: .4s; }
    .profileMenuDiv .profileMenuList .dropBtnHeader {
      padding: 7px;
      background-color: #fff;
      color: #707070;
      font-size: 12px;
      cursor: default;
      border-bottom: 1px solid #d1d1d1; }
      .profileMenuDiv .profileMenuList .dropBtnHeader:focus-within .uprightMenuList {
        background: #3a3939; }
      .profileMenuDiv .profileMenuList .dropBtnHeader p {
        margin-bottom: 0; }
        .profileMenuDiv .profileMenuList .dropBtnHeader p .dropBtn {
          width: 100px;
          height: 30px;
          font-size: 11px;
          background: #f8faf5;
          color: #707070;
          border: 1px solid #d1d1d1;
          cursor: pointer; }
        .profileMenuDiv .profileMenuList .dropBtnHeader p .dropBtnLeft {
          margin-left: 10px;
          outline: none; }
        .profileMenuDiv .profileMenuList .dropBtnHeader p .dropBtnRight {
          margin-right: 10px;
          outline: none; }
      .profileMenuDiv .profileMenuList .dropBtnHeader .dropBtnMenu {
        border: 1px solid #a7a7a7;
        margin: 9px 10px 7px 10px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        font-size: 12px; }
      .profileMenuDiv .profileMenuList .dropBtnHeader .onlineMenu {
        border: 1px solid #d1d1d1; }
        .profileMenuDiv .profileMenuList .dropBtnHeader .onlineMenu:focus-within .uprightMenuList {
          background: #3a3939; }
        .profileMenuDiv .profileMenuList .dropBtnHeader .onlineMenu .dropMenuHeader {
          font-weight: bold;
          position: relative;
          padding: 5px 12px 5px 12px !important;
          border-bottom: 1px solid #d1d1d1;
          background: #eff1ed;
          cursor: pointer; }
          .profileMenuDiv .profileMenuList .dropBtnHeader .onlineMenu .dropMenuHeader:focus-within .uprightMenuList {
            background: #3a3939; }
          .profileMenuDiv .profileMenuList .dropBtnHeader .onlineMenu .dropMenuHeader .dropMenuClose {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%); }
          .profileMenuDiv .profileMenuList .dropBtnHeader .onlineMenu .dropMenuHeader:hover .dropMenuClose {
            color: #ff0000a9;
            transition: .3s; }
        .profileMenuDiv .profileMenuList .dropBtnHeader .onlineMenu .dropMenuItem {
          text-decoration: none;
          color: #707070;
          display: block;
          position: relative; }
          .profileMenuDiv .profileMenuList .dropBtnHeader .onlineMenu .dropMenuItem:focus-within {
            background: #eff1ed; }
          .profileMenuDiv .profileMenuList .dropBtnHeader .onlineMenu .dropMenuItem:hover {
            background: #eff1ed; }
          .profileMenuDiv .profileMenuList .dropBtnHeader .onlineMenu .dropMenuItem label {
            position: relative;
            padding: 5px 145px 8px 32px;
            margin: 0;
            cursor: pointer; }
          .profileMenuDiv .profileMenuList .dropBtnHeader .onlineMenu .dropMenuItem input {
            position: absolute;
            top: 7.2px;
            left: 12px;
            padding: 13px; }
      .profileMenuDiv .profileMenuList .dropBtnHeader .adminMenu {
        border: 1px solid #d1d1d1; }
        .profileMenuDiv .profileMenuList .dropBtnHeader .adminMenu .dropMenuHeader {
          position: relative;
          font-weight: bold;
          cursor: pointer;
          padding: 5px 12px 5px 12px !important;
          border-bottom: 1px solid #d1d1d1;
          background: #eff1ed; }
          .profileMenuDiv .profileMenuList .dropBtnHeader .adminMenu .dropMenuHeader .dropMenuClose {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%); }
          .profileMenuDiv .profileMenuList .dropBtnHeader .adminMenu .dropMenuHeader:hover .dropMenuClose {
            color: #ff0000a9;
            transition: .3s; }
        .profileMenuDiv .profileMenuList .dropBtnHeader .adminMenu .dropMenuItem {
          text-decoration: none;
          color: #707070;
          position: relative;
          display: block; }
          .profileMenuDiv .profileMenuList .dropBtnHeader .adminMenu .dropMenuItem:hover {
            background: #eff1ed; }
          .profileMenuDiv .profileMenuList .dropBtnHeader .adminMenu .dropMenuItem:focus-within {
            background: #eff1ed; }
          .profileMenuDiv .profileMenuList .dropBtnHeader .adminMenu .dropMenuItem label {
            position: relative;
            padding: 5px 145px 8px 32px;
            margin: 0;
            cursor: pointer; }
          .profileMenuDiv .profileMenuList .dropBtnHeader .adminMenu .dropMenuItem input {
            position: absolute;
            top: 7.2px;
            left: 12px;
            padding: 13px; }

#sidebar.active {
  text-align: center;
  font-size: 18px;
  min-width: 60px;
  max-width: 60px; }
  #sidebar.active .sidebar-header .sidebarHeaderTitle {
    display: none; }
  #sidebar.active .sidebar-header .btn {
    margin-top: 4px;
    padding: 2px 4px 0 5px;
    width: 35px;
    height: 35px; }
  #sidebar.active .components #sidebar-title {
    display: none; }
  #sidebar.active .components .sidebarItems {
    padding: 12px 0 7px 0;
    height: 49px; }
    #sidebar.active .components .sidebarItems:hover .submenuList {
      display: block; }
    #sidebar.active .components .sidebarItems:hover a .sidebarMenuItems {
      position: absolute;
      display: flex;
      justify-content: start;
      width: 180px;
      left: 60px;
      top: 3px;
      height: 45px;
      background: #595f54;
      z-index: 1;
      border-left: 1px solid #353832;
      font-size: 14px;
      font-weight: bold; }
      #sidebar.active .components .sidebarItems:hover a .sidebarMenuItems span {
        margin-top: 11px;
        margin-left: 6px; }
    #sidebar.active .components .sidebarItems a .sidebarIcons {
      font-size: 18px; }
    #sidebar.active .components .sidebarItems a .circleIcons {
      display: none; }
    #sidebar.active .components .sidebarItems a .sidebarHomeIcon {
      color: #4e93ec;
      font-size: 18px !important; }
    #sidebar.active .components .sidebarItems a .sidebarArrow {
      display: none; }
    #sidebar.active .components .sidebarItems a .sidebarMenuItems {
      display: none; }
    #sidebar.active .components .sidebarItems a .bottomSidebarMenuItems {
      display: none !important; }
    #sidebar.active .components .sidebarItems a .sidebarBadge {
      display: none; }
    #sidebar.active .components .sidebarItems a:after {
      display: none; }
    #sidebar.active .components .sidebarItems .submenuList {
      position: absolute;
      left: 78px;
      z-index: 2;
      top: 28px;
      width: 180px;
      border-left: 1px solid #353832;
      display: none; }
      #sidebar.active .components .sidebarItems .submenuList .firstSubmenuItem {
        padding: 0;
        margin: 0;
        position: relative; }
      #sidebar.active .components .sidebarItems .submenuList .submenuItems {
        padding: 0;
        margin: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        height: 36px; }
        #sidebar.active .components .sidebarItems .submenuList .submenuItems .submenuItemsIcons {
          font-size: 11px;
          width: 12px;
          display: flex;
          justify-content: start;
          flex-direction: row;
          margin-top: 12px;
          margin-left: 10px; }
        #sidebar.active .components .sidebarItems .submenuList .submenuItems .submenuBadge {
          margin: 11px 8px 11px 0px;
          padding-top: 2px; }
        #sidebar.active .components .sidebarItems .submenuList .submenuItems a {
          padding: 0;
          width: inherit;
          display: flex;
          justify-content: start;
          flex-direction: row;
          margin-top: 8px; }
        #sidebar.active .components .sidebarItems .submenuList .submenuItems .submenuArrow {
          padding: 0;
          margin-top: 14px;
          margin-right: 14px;
          font-size: 13px; }
  #sidebar.active .components .bottomSidebarItems {
    cursor: default !important; }
  #sidebar.active .components .userStatsItems {
    display: none; }

.emailHeader {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0; }

.contactForm {
  width: 350px;
  margin: 0 auto;
  padding: 15px; }
  .contactForm input, .contactForm textarea {
    border: 2px solid #0C0C0B;
    outline: none !important; }
  .contactForm button {
    width: 100%;
    background: #0C0C0B;
    border: #0C0C0B;
    color: #fff; }

.fullHeightWrapper {
  height: 100vh; }
  .fullHeightWrapper .loginForm {
    text-align: center;
    margin: 0 auto;
    width: 350px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%); }
    .fullHeightWrapper .loginForm img {
      margin: 0 0 30px 0; }
    .fullHeightWrapper .loginForm form {
      width: 100%; }
      .fullHeightWrapper .loginForm form .customInput {
        border: 2px solid #000;
        outline: none;
        width: 100%;
        padding: 5px 10px;
        letter-spacing: 1px; }
      .fullHeightWrapper .loginForm form .customButton {
        border: 2px solid #000;
        color: #000;
        background: #fff;
        width: 100%;
        position: relative;
        z-index: 1;
        padding: 5px 0;
        cursor: pointer;
        overflow: hidden;
        letter-spacing: 1px; }
        .fullHeightWrapper .loginForm form .customButton:after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: -100%;
          background: black;
          border: 2px solid #000;
          z-index: -1;
          transition: .4s; }
        .fullHeightWrapper .loginForm form .customButton:hover {
          color: #fff; }
          .fullHeightWrapper .loginForm form .customButton:hover:after {
            top: 0; }
    .fullHeightWrapper .loginForm .formInfo {
      margin: 10px 0; }

@media (max-width: 900px) {
  .uprightMenu .uprightMenuList {
    margin-right: 5px !important; }
    .uprightMenu .uprightMenuList .profilePic {
      margin-right: 3px !important; }
  .profileMenuDiv {
    right: 5px; } }

@media (max-width: 768px) {
  #sidebarCollapse span {
    display: none; }
  .uprightMenu .uprightMenuList .profileMenuButton .usernameArrow {
    display: none; } }

@media (max-width: 600px) {
  .profileMenuDiv {
    width: 100%;
    right: 0;
    top: 60px; }
    .profileMenuDiv:before {
      display: none; }
    .profileMenuDiv .onlineMenu {
      position: absolute; }
      .profileMenuDiv .onlineMenu label {
        background: #fff; }
      .profileMenuDiv .onlineMenu input {
        z-index: 100; }
      .profileMenuDiv .onlineMenu .dropMenuItem {
        background: #fff; }
    .profileMenuDiv .adminMenu {
      position: absolute;
      right: 8px; }
      .profileMenuDiv .adminMenu:focus-within {
        background: #eff1ed;
        z-index: 1000; }
      .profileMenuDiv .adminMenu label {
        background: #fff; }
      .profileMenuDiv .adminMenu input {
        z-index: 100; }
      .profileMenuDiv .adminMenu .dropMenuItem {
        background: #fff; }
  .uprightMenu .uprightMenuList {
    margin-right: 0 !important; } }
