//color variables
$main-font: 'Montserrat', sans-serif;
$smoky-black: #0C0C0B;
$raisin-black: #222420;
$sidebarHeader: #353832;
$sidebar: #71796a;
$subSidebar: #595f54;
$sidebarTitle: #282b26;
$trolley-gray: #808080;
$isabelline: #eff1ed;
$lightIsabelline: #f8faf5;
$darkIsabelline: #e3e6e0;
$beige: #F5F7DC;
$darkBeige: #ccceb7;
$comments: #caa9f9;
$commentsLight: #f3ebff;
$commentsLighter: #ffffff;
$twitter: #68cffc;
$twitterLight: #cdeffd;
$twitterLighter: #eefaff;
$reach: #fc775f;
$reachLight: #ffcdc4;
$reachLighter: #ffece9;
$comments1: #ffdc6b;
$comments1Light: #fff7df;
$comments1Lighter: #fffefb;
$panelText: #707070;
$lightPanelText: #a7a7a7;
$lighterPanelText: #d1d1d1;
$infoBlue: #468ffd;


//browser flexibility 
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transform: $property;
}