@import 'external';


*{
	font-family: $main-font;
}

body {
	background: none;
}

.width100 {
	width: 100%;
}

.wrapper {
	display: flex;
	align-items: stretch; 
	#sidebar {
		min-width: 230px;
		max-width: 230px;
		min-height: 100vh;
		transition: all 0.3s;
		color: $isabelline;
		background: $sidebar;
		.sidebar-header {
			padding: 8px;
			position: relative;
			background: $sidebarHeader;
			color: $isabelline;
			height: 60px;
			.sidebarHeaderTitle{
				font-size: 18px;
				padding: 10px 10px 10px 7px;;
			}
			.btn {
				color: $isabelline;
				outline: none;
				box-shadow: none;
				width: 40px;
				height: 35px;
				margin-top: 6px;
				padding-top: 6px;
				&:hover {
					transition: .3s;
					background: $isabelline;
					color: $smoky-black;
				}		
			}
		}
		.components {
			#sidebar-title {
				font-size: 12px;
				display: block;
				padding: 20px 0px 0px 18px;
				color: $sidebarTitle;
				margin: 0;
			}
			.sidebarItems {
				position: relative;
				padding: 7px 0px 5px 18px;
				width: 100%;
				cursor: pointer;
				.submenuList {
					margin-top: 10px;
					background: $subSidebar;
					margin-left: -18px;
					.firstSubmenuItem {
						height: 44px !important;
						padding-top: 10px !important;
					}
					.submenuItems {
						height: 41px;
						width: 100%;
						padding: 6px 0 0 28px;
						border-left: 3px solid $subSidebar;
						&:hover {
							border-left: 3px solid $smoky-black;
							a {
								color: #fff;
							}
							.submenuItemsIcons {
								color: #fff;
							}
						}
						a {
							color: $lighterPanelText;
						}
						.submenuArrow {
							margin-top: 7px;
							margin-right: 14px;
							font-size: 13px;
						}
						.submenuItemsIcons {
							font-size: 11px;
							width: 12px;
							margin-right: 10px;
							color: $lighterPanelText;
						}
						.submenuBadge {
							background: #282b26;
							color: #eff1ed;
							padding: 4px;
							margin-top: 4px;
							font-size: 9px;
							margin-right: 15px;
						}
					}
				}
				a {
					font-size: 13px;
					width: 100%;
					color: $isabelline;
					.sidebarIcons {
						font-size: 14px;
						width: 18px;
					}
					.sidebarHomeIcon {
						color: #4e93ec;
					}
					.sidebarArrow {
						margin-top: 7px;
						margin-right: 14px;
					}
					.sidebarBadge {
						background: $sidebarTitle;
						color: $isabelline;
						padding: 5px;
						margin-top: 3px;
						margin-right: 13px;
					}
					.blueCircleIcon {
						color: #4a89dc;
					}
					.lightBlueCircleIcon {
						color: #3bafda;
					}
					.redCircleIcon {
						color: #e9573f;
					}
					.yellowCircleIcon {
						color: #f6bb41;
					}
					.sidebarMenuItems {
						padding-left: 8px;
					}
					.userStatsIcons {
						font-size: 12px;
						width: 12px;
						height: 12px;
					}
					.sidebarUserStatsText {
						font-size: 11px;
					}
					.sidebarUserStats {
						margin-top: 5px;
						margin-right: 20px;
						font-size: 11px;
					}
					.progressBarDiv {
						margin-right: 20px;
						margin-top: 5px;
					}
					&:hover{
						text-decoration: none;
					}
				}
				a[data-toggle="collapse"] {
					position: relative;
				} 
				.dropdown-toggle {
					position: relative;
				}
			}
		}
	}
	#content {
		width: 100%;
		.subNavbar {
			background: $raisin-black;
			min-height: 60px;
			.uprightMenu {
				display: inline-block;
				margin: auto;
				cursor: pointer;
				&:active {
					.uprightMenuList {
						background: #3a3939;
					}
				}
				&:focus-within {
					.uprightMenuList {
						background: #3a3939;
					}
				}
				.uprightMenuList {
					color: white;
					margin: auto;
					display: inline-block;
					padding: 14px 10px 14px 9px;
					margin-right: 15px;
					&:hover {
						background: #3a3939;
					}
					.profileMenuButton {
						outline: none;
						background: none;
						border: none;
						margin: 0;
						cursor: pointer;
						color:$isabelline;
						font-size: 14px;
						.profilePic {
							margin-right: 15px;
						}
						.usernameArrow {
							font-size: 12px;
						}
					}
				}
			}
	}
			.socialWrapper {
				width: 100%;
				margin: 20px 0 20px 0;
				padding: 0 10px 0 10px;	
				.social-boxWrapper {
					padding: 5px;
					.social-box {
						height: 75px;
						width: 100%;
						border-radius: 1%;
						// max-width: 391.5px;
						// max-height: 73px;
					}
					.purple {
						background-color: $comments;
						overflow: hidden;
						i {
							font-size: 95px;
							padding: 10px 3px 0 0;
							color: $commentsLight;
						}
						.cmnts {
							font-weight: bold;
							color: $commentsLight;
							margin: 0;
							padding: 0 0 0 20px;
							font-size: 12px;
						}
						.commentsNb {
							color: $commentsLighter;
							margin: 0;
							padding: 20px 0 3px 20px;
						}
					}
					.blue {
						background-color: $twitter;
						overflow: hidden;
						i {
							font-size: 95px;
							padding: 5px 3px 0 0;
							color: $twitterLight;
						}
						.tweets {
							font-weight: bold;
							color: $twitterLight;
							margin: 0;
							padding: 0 0 0 20px;
							font-size: 12px;
						}
						.tweetsNb {
							color: $twitterLighter;
							margin: 0;
							padding: 20px 0 3px 20px;
						}
					}
					.red {
						background-color: $reach;
						overflow: hidden; 
						i {
							font-size: 105px;
							padding: 5px 0 0 0;
							color: $reachLight;
						}
						.peaks {
							font-weight: bold;
							color: $reachLight;
							margin: 0;
							padding: 0 0 0 20px;
							font-size: 12px;
						}
						.peaksNb {
							color: $reachLighter;
							margin: 0;
							padding: 20px 0 3px 20px;
						}
					}
					.yellow {
						background-color: $comments1;
						overflow: hidden; 
						i {
							font-size: 105px;
							padding: 5px 0 0 0;
							color: $comments1Light;
						}
						.emails {
							font-weight: bold;
							color: $comments1Light;
							margin: 0;
							padding: 0 0 0 20px;
							font-size: 12px;
						}
						.emailsNb {
							color: $comments1Lighter;
							margin: 0;
							padding: 20px 0 3px 20px;
						}
				 	}
				}
			}
		}
}

.dataPanelWrapper {
	width: 100%;
	// margin-right: 0;
	height: auto;
	border: 1px solid #e5e5e5;
	background: $lightIsabelline;
	.dataHeader {
		width: 100%;
		border-bottom: 1px solid #e5e5e5;
		padding: 10px;
		background-color: $smoky-black;
		.headerTitle {
			font-weight: bold;
			font-size: 12px;
			margin: 0;
			color: $lightPanelText;
		}
	}
	.dataBox {
		width: 100%;
		height: 300px;
		padding: 10px 0;
		border-right: 1px solid #e5e5e5;
	}
	.chartBox {
		font-size: 12px;
		color: $panelText;
		margin: 0;
		font-weight: bold;
		.visitorsHeader {
			padding: 0 0 0 15px;
		}
		.short {
			width: 95%;
		}
	}	
	.referralsBox {
		font-size: 12px;
		color: $panelText;
		margin: 0;
		font-weight: bold;
		.referrals {
			color: $lightPanelText;
			padding-left: 20px;
			.dataValues {
				padding: 0 15px 0 0;
				color: $panelText;
			}
		}
		.searchTeams {
			color: $lightPanelText;
			padding-left: 20px;
			.dataValues {
				padding: 0 15px 0 0;
				color: $panelText;
			}
		}
		hr {
			margin: 8px 0 8px 0;
		
		}
	}
	.trafficBox {
		font-size: 12px;
		color: $panelText;
		margin: 0;
		font-weight: bold;
		.trafficList {
			list-style: none;
			padding: 0;
			.dataValues {
				padding: 0 15px 0 0;
				color: $panelText;
			}
		}
		hr {
			margin: 12px 0 12px 0;		
		}
	}
	.noBorder {
		border-right: 0;
	}
}

.profileMenuDiv {
	width: 250px;
	position: absolute;
	right: 15px;
	top: 68px;
	z-index: 999;
	background: #fff;
	border-top: 3px solid $lightPanelText;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.288);
	&:before {
		content: '';
		display: block;
		width: 25px;
		height: 25px;
		background: $lightPanelText;
		position: absolute;
		right: 10px;
		top: -5px;
		z-index: -9999;
		transform: rotate(45deg);
	}
	.profileMenuList {
		border: 1px solid $lighterPanelText;
		display: block;
		&:focus-within {
			background-color: $isabelline;
		}
		a {
			display: block;
		}
		li {
			&:hover {
				&:after {
					width: 0;
				}
			}
		}
		.liWrapper {
			&:focus {
				.profileMenuItems {
				background-color: $isabelline;
				}
			}
			.profileMenuItems {
				border-bottom: 1px solid $lighterPanelText;
				padding: 12px;
				font-size: 12px;
				color: $panelText;
				background: #fff;
				width: 100%;
				&:hover {
					background-color: $isabelline;
				}
			}
		}
		.profileMenuItemsLogout {
			padding: 10px;
			width: 100%;
			text-align: center;
			font-size: 12px;
			color: $panelText;
			background-color: $lightIsabelline;
			&:hover {
				background-color: $beige;
				transition: .4s;
			}
		}
		.dropBtnHeader {
			padding: 7px;
			background-color: #fff;
			color: $panelText;
			font-size: 12px;
			cursor: default;
			border-bottom: 1px solid $lighterPanelText;
			&:focus-within {
				.uprightMenuList {
					background: #3a3939;
				}
			}
			p {
				margin-bottom: 0;
				.dropBtn {
					width: 100px;
					height: 30px;
					font-size: 11px;
					background: $lightIsabelline;
					color: $panelText;
					border: 1px solid $lighterPanelText;
					cursor: pointer;
				}
				.dropBtnLeft{
					margin-left: 10px;
					outline: none;
				}
				.dropBtnRight {
					margin-right: 10px;
					outline: none;
				}
			}
			.dropBtnMenu {
				border: 1px solid $lightPanelText;
				margin: 9px 10px 7px 10px;
				box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);		
				font-size: 12px;
			}
			.onlineMenu{
				border: 1px solid $lighterPanelText;
				&:focus-within {
					.uprightMenuList {
						background: #3a3939;
					}
				}
				.dropMenuHeader{
					font-weight: bold;
					position: relative;
					padding: 5px 12px 5px 12px !important;
					border-bottom: 1px solid $lighterPanelText;
					background: $isabelline;
					cursor: pointer;
					&:focus-within {
						.uprightMenuList {
							background: #3a3939;
						}
					}
					.dropMenuClose {
						position: absolute;
						top: 50%;
						right: 10px;
						transform: translate(0, -50%);
					}
					&:hover {
						.dropMenuClose {
							color: #ff0000a9;
							transition: .3s;
						}
					}
				}
				.dropMenuItem {
					text-decoration: none;
					color: $panelText;
					display: block;
					position: relative;
					&:focus-within {
						background: $isabelline;
					}
					&:hover {
						background: $isabelline;
					}
					label {
						position: relative;
						padding: 5px 145px 8px 32px;
						margin: 0;
						cursor: pointer;
					}
					input {
						position: absolute;
						top: 7.2px;
						left: 12px;
						padding: 13px;
					}
				}
			}
			.adminMenu {
				border: 1px solid $lighterPanelText;
				.dropMenuHeader{
					position: relative;
					font-weight: bold;
					cursor: pointer;
					padding: 5px 12px 5px 12px !important;
					border-bottom: 1px solid $lighterPanelText;
					background: $isabelline;
					.dropMenuClose {
						position: absolute;
						top: 50%;
						right: 10px;
						transform: translate(0, -50%);
					}
					&:hover {
						.dropMenuClose {
							color: #ff0000a9;
							transition: .3s;
						}
					}
				}
				.dropMenuItem {
					text-decoration: none;
					color: $panelText;
					position: relative;
					display: block;
					&:hover {
						background: $isabelline;
					}
					&:focus-within {
						background: $isabelline;
					}
					label {
						position: relative;
						padding: 5px 145px 8px 32px;
						margin: 0;
						cursor: pointer;
					}
					input {
						position: absolute;
						top: 7.2px;
						left: 12px;
						padding: 13px;
					}
				}
			}
		}
	}	
}

#sidebar {
	&.active {
		text-align: center;
		font-size: 18px;
		min-width: 60px;
		max-width: 60px;
		.sidebar-header {
			.sidebarHeaderTitle {
				display: none;
			}
			.btn {
				margin-top: 4px;
				padding: 2px 4px 0 5px;
				width: 35px;
				height: 35px;	
			}
		}
		.components {
			#sidebar-title {
				display: none;
			}
			.sidebarItems {
				padding: 12px 0 7px 0;
				height: 49px;
				&:hover {
					.submenuList {
						display: block;
					}
					a {
						.sidebarMenuItems {
							position: absolute;
							display: flex;
							justify-content: start;
							width: 180px;
							left: 60px;
							top: 3px;
							height: 45px;
							background: $subSidebar;
							z-index: 1;
							border-left: 1px solid $sidebarHeader;
							font-size: 14px;
							font-weight: bold;
							span {
								margin-top: 11px;
								margin-left: 6px;
							}
						}
					}
				}
				a {
					.sidebarIcons {
						font-size: 18px;
					}
					.circleIcons {
						display: none;
					}
					.sidebarHomeIcon {
						color: #4e93ec;
						font-size: 18px !important;
					}
					.sidebarArrow {
						display: none;
					}
					.sidebarMenuItems {
						display: none;
					}
					.bottomSidebarMenuItems {
						display: none !important;
					}
					.sidebarBadge {
						display: none;
					}
					&:after {
						display: none;
					}
				}
				.submenuList {
					position: absolute;
					left: 78px;
					z-index: 2;
					top: 28px;
					width: 180px;
					border-left: 1px solid $sidebarHeader;
					display: none;
					.firstSubmenuItem {
						padding: 0;
						margin: 0;
						position: relative;
					}
					.submenuItems{
						padding: 0;
						margin: 0;
						position: relative;
						display: flex;
						flex-direction: row;
						height: 36px;
						.submenuItemsIcons {
							font-size: 11px;
							width: 12px;
							display: flex;
							justify-content: start;
							flex-direction: row;
							margin-top: 12px;
							margin-left: 10px;
						}
						.submenuBadge {
							margin: 11px 8px 11px 0px;
							padding-top: 2px;
						}
						a {
							padding: 0;
							width: inherit;
							display: flex;
							justify-content: start;
							flex-direction: row;
							margin-top: 8px;
						}
						.submenuArrow {
							padding: 0;
							margin-top: 14px;
							margin-right: 14px;
							font-size: 13px;
						}
					}
				}
			}
			.bottomSidebarItems {
				cursor: default !important;
			}
			.userStatsItems {
				display: none;
			}
		}
	}
}

.emailHeader {
	position: relative;
	margin: 0 auto;
	text-align: center;
	padding: 25px 0;
}

.contactForm {
	width: 350px;
	margin: 0 auto;
	padding: 15px;
	input, textarea {
		border: 2px solid $smoky-black;
		outline: none !important;
	}
	button {
		width: 100%;
		background: $smoky-black;
		border: $smoky-black;
		color: #fff;
	}
}

.fullHeightWrapper {
	height: 100vh;
	.loginForm {
		text-align: center;
		margin: 0 auto;
		width: 350px;
		position: relative;
		top: 50%;
		transform: translate(0, -50%);
		img {
			margin: 0 0 30px 0;
		}
		form {
			width: 100%;
			.customInput {
				border: 2px solid #000;
				outline: none;
				width: 100%;
				padding: 5px 10px;
				letter-spacing: 1px;
			}
			.customButton {
				border: 2px solid #000;
				color: #000;
				background: #fff;
				width: 100%;
				position: relative;
				z-index: 1;
				padding: 5px 0;
				cursor: pointer;
				overflow: hidden;
				letter-spacing: 1px;
				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: -100%;
					background: black;
					border: 2px solid #000;
					z-index: -1;
					transition: .4s;
				}
				&:hover {
					color: #fff;
					&:after {
						top: 0;
					}
				}
			}
		}
		.formInfo {
			margin: 10px 0;
		}
	}
}

@media (max-width: 900px) {
	.uprightMenu {
		.uprightMenuList {
			margin-right: 5px !important;
			.profilePic {
				margin-right: 3px !important;
			}
		}
	}
	.profileMenuDiv {
		right: 5px;
	}
}

@media (max-width: 768px) {
    #sidebarCollapse span {
        display: none;
	}
		.uprightMenu {
			.uprightMenuList {
				.profileMenuButton {
					.usernameArrow {
						display: none;
					}
				}
			}
		}
}

@media (max-width: 600px) {
	.profileMenuDiv {
		width: 100%;
		right: 0;
		top: 60px;
		&:before {
			display:none;
		}
		.onlineMenu {
			position: absolute;
			label {
				background: #fff;
			}
			input {
				z-index: 100;
			}
			.dropMenuItem {
				background: #fff;
			}
		}
		.adminMenu {
			position: absolute;
			right: 8px;
			&:focus-within {
				background: $isabelline;
				z-index: 1000;
			}
			label {
				background: #fff;
			}
			input {
				z-index: 100;
			}
			.dropMenuItem {
				background: #fff;
			}
		}
	}
	.uprightMenu {
		.uprightMenuList {
			margin-right: 0 !important;
		}
	}
}
